/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html{
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto&display=swap');

body {margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}

/*font-family: 'Merriweather Sans', sans-serif;
font-family: 'Roboto', sans-serif; -->*/

#header{
  position: sticky;
  top:0;
  width: 100vw;
  background-color: white;
  z-index: 1000;
}

.header1{
  padding-top: 4px;
}

#navbar{
  padding: 1%;
}

#navbar a{
  color: black;
  padding: 12px;
  text-align: left;
  font-size: 1em;
}

#navbar a:hover{
  border-bottom: 1px solid rgba(211, 160, 82);
}

/*
h1{
  font-family: 'Roboto', sans-serif;
  color: gray;
}*/

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 1em; 
  color:rgba(211, 160, 82)
}

.parallax {
  /* The image used */
  background-image: url("../img/edison_bulb.jpg");
  /* Set a specific height */
  min-height: 1000px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top:150px;
  padding-bottom:150px;
}



.titulo{
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(101, 55, 10);
  font-size: 2.1em;
  font-weight: bold;
  letter-spacing: 1px;
  color:rgba(73, 40, 7);
}

.fraseprincipal{
  background-color: rgba(211, 160, 82, 0.3);
  background-size: 100%;
  background-position: absolute;
  padding-top: 10%;
  padding-bottom: 10%;
}


.frase{
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-size: 1.1em;
  color: black;
}
.frase1{
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  color: gray;
  position: relative;
  animation-name: atemporal;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}
.frase2{
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  color:rgba(211, 160, 82);
}

.sec2{
  margin-top: 50px;
  margin-bottom: 50px;
}

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6{
  background-size: cover;
  background-position: center;
  height: 400px;
}
.slide1{background-image: url("../img/slider_bar.jpg");}
.slide2{background-image: url("../img/slider_restaurant.jpg");}
.slide3{background-image: url("../img/slider_local.jpg");}
.slide4{background-image: url("../img/slider_casa.jpg");}
.slide5{background-image: url("../img/slider_loft.jpg");}
.slide6{background-image: url("../img/slider_country.jpg");}


.sec3{
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-title, .card-text{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: center;
}

.vermas{
  text-align: center;
  margin-bottom: 50px;
}

.parallax1 {
  /* The image used */
  background-image: url("../img/nosotros_fondo.jpg");
  /* Set a specific height */
  min-height: 800px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  padding: 5%;
}

/*.sec4{
  background-image: url("../img/nosotros_fondo.jpg");
  background-size: cover;
  background-position: absolute;
  padding: 5%;
}*/

.frase3{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: justify;
  color: rgba(211, 160, 82);
}

.nosotros{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: white;
}

.sec5{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 48%;
}



.firma{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  color: rgba(211, 160, 82);
}



