/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html{
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
}

/*font-family: 'Merriweather Sans', sans-serif;
font-family: 'Roboto', sans-serif; -->*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto&display=swap');

h1{
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container{
  width: 40%;
}

